* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

/* css variables */
:root {
    --primary-color: #2b4eff;
    --secondary-color: #fc4389;
    --gray-color: #edeef3;
    --color: #0e1133;
    --color-light: #fff;
    --shadow: 0 10px 20px 0 rgba(4, 23, 118, 0.3);
}

body {
    font-family: Hind, sans-serif;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.5;
}

ul {
    list-style: none;
    margin: 0px;
}

a {
    text-decoration: none;
}

a,
span,
label,
input {
    display: inline-block;
}

input,
textarea,
button {
    outline: none;
}

.py {
    padding-top: 100px;
    padding-bottom: 100px;
}

.shown {
    display: block;
    visibility: visible;
    opacity: 1;
    animation: scale 1s ease-in-out forwards;
    -webkit-animation: scale 1s ease-in-out forwards;
}

.hide {
    display: none;
    visibility: hidden;
    opacity: 0;
}

@keyframes scale {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
        filter: grayscale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
        filter: grayscale(0);
    }
}

a.try_free {
    padding: 0.8rem 1.5rem;
    background: var(--primary-color, #455ef9);
}

a.try_free:hover,
a.try_free:focus {
    background: var(--primary-color, #455ef9);
    border-color: var(--primary-color, #455ef9);
    box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3)) !important;
}

#card .article.article h3 span .yellowbg {
    bottom: -5px;
    left: 156px;
    z-index: 2;
    animation: 3s linear 0s infinite normal none running yellowBg;
}

@keyframes yellowBg {
    0% {
        width: 0px;
    }

    15% {
        width: 100%;
    }

    85% {
        opacity: 1;
    }

    90% {
        width: 100%;
        opacity: 0;
    }

    100% {
        width: 0px;
        opacity: 0;
    }
}



/* header  hisse */

header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 70px;
    z-index: 100;
}

header.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: var(--color-light, #ffffff);
    box-shadow: var(--shadow);
    animation: 0.3s ease-in-out 0s 1 normal forwards running fade;
}

ul li a,
a {
    color: var(--color, #0e1133);
    font-weight: 500;
    transition: all 0.3s ease-in-out 0s;
    font-family: Hind, sans-serif;
}

#course {
    z-index: 3;
}

header .header_left a.logo {
    margin-top: 10px;
}

header .header_left a.logo figure {
    width: 114px;
    height: 46px;
    margin: 0;
}

header .header_category {
    padding-left: 56px;
}

header .header_category::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 27px;
    width: 1px;
    height: 165%;
    background: rgb(206, 206, 206);
}

header .header_category li ul.drop_down_menu li>a:hover,
header ul li.drop_down_btn:hover>a {
    fill: var(--primary-color, #2b4eff);
    color: var(--primary-color, #2b4eff);

}

header .header_category .header_category-icon {
    width: 15px;
    margin-right: 10px;
}

header ul li ul.drop_down_menu {
    left: 0px;
    width: 200px;
    background: var(--color-light, #fff);
    box-shadow: rgba(8, 0, 42, 0.08) 0px 10px 20px 0px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out 0s;
    z-index: 9;
}

header ul li ul.category_drop_down_menu {
    top: calc(100% + 30px);
    padding: 17px 0px 15px;
    border-radius: 4px;
}

header ul li ul.drop_down_menu li a {
    width: 100%;
}

header .header_category li ul.drop_down_menu li>a {
    padding: 3px 30px;
    color: rgb(109, 110, 117);
    font-weight: 500;
    text-transform: capitalize;
}

header li.drop_down_btn:hover ul.drop_down_menu {
    top: 100%;
    visibility: visible;
    opacity: 1;
}

header .header_right nav.main_menu {
    width: 50%;
}

header .header_right nav.main_menu ul {
    padding: 0px;
}

header .header_right nav.main_menu ul span {
    font-size: 0.6rem;
    vertical-align: text-top;
}

header .header_right nav.main_menu ul a:not(.drop_down_menu a) {
    padding: 35px 0px;
}

header nav.main_menu ul li ul.drop_down_menu {
    top: 120%;
}

header nav.main_menu ul li ul.drop_down_menu a {
    padding: 10px 25px;
    font-size: 13px;
    position: relative;
    z-index: 1;
}

header nav.main_menu ul li ul.drop_down_menu li:not(:last-child) a {
    border-bottom: 1px solid rgb(221, 221, 221);
}

header nav.main_menu ul li ul.drop_down_menu a::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% + 1px);
    width: 100%;
    z-index: -2;
    background: var(--primary-color);
    transform-origin: right center;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out 0s;
}

header nav.main_menu ul li ul.drop_down_menu a:hover {
    color: var(--color-light, #ffffff);
    background-color: rgb(19, 83, 243);
}

header nav.main_menu ul li ul.drop_down_menu a:hover::before {
    transform-origin: left center;
    transform: scaleX(1);
    transition-delay: 0.1s;
}

header .form_and_btn form {
    background: var(--color-light, #fff);
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    border-radius: 0.2rem;
    margin-right: 1.5rem;
    border: 1px solid transparent;
}

header.sticky .form_and_btn form {
    background: var(--gray-color, #edeef3);
}

header .form_and_btn form:focus-within {
    border-color: var(--primary-color, #455ef9);
}

header .form_and_btn form .shopping_cart_icon {
    width: 24px;
}

header .form_and_btn form .shopping_cart_icon path {
    fill: transparent;
    stroke: rgb(0, 0, 0);
    stroke-width: 1.2px;
}

header .form_and_btn form button,
.form_and_btn form input {
    background: transparent;
    border: none;
}

header .form_and_btn form input {
    padding: 5px 1rem;
    font-size: 14px;
    width: 100%;
    border-right: 1px solid rgb(221, 221, 221);
    margin-right: 10px;
}

header .form_and_btn form .shopping_cart_and_label span {
    position: absolute;
    top: -7px;
    right: -11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: var(--primary-color, #455ef9);
    text-align: center;
    line-height: 18px;
    color: var(--color-light, #fff);
    font-size: 13px;
    box-shadow: var(--shadow, 0 10px 20px 0 rgba(4, 23, 118, 0.3));
}

header .toggle-btn {
    width: 35px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

header .toggle-btn:before,
header .toggle-btn::after,
header .toggle-btn span {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background: var(--primary-color, #455ef9);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

header .toggle-btn:before {
    top: 0;
}

header .toggle-btn::after {
    bottom: 0;
}

header .toggle-btn:hover::before,
header .toggle-btn:hover::after,
header .toggle-btn:hover span {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

header .toggle-btn:hover::before {
    width: 10px;
}

header .toggle-btn:hover span {
    width: 20px;
}

header .toggle-btn.toggle::before,
header .toggle-btn.toggle::after,
header .toggle-btn.toggle span {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
}

header .toggle-btn.toggle::before {
    width: 10px;
}

header .toggle-btn.toggle span {
    width: 20px;
}

header a.try_free {
    white-space: nowrap;
}

/* main hisse */


#card {
    padding-top: 15rem;
    padding-bottom: 250px;
    background: var(--gray-color, #edeef3);


}

#card .card_custom_shape img.circle {
    top: 25%;
    left: 5%;
    animation: 5s linear 0s infinite alternate none running rotate;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

#card .card_custom_shape img.semicircle {
    bottom: 14%;
    left: 0px;
}

#card .card_custom_shape img.dots {
    right: 0px;
    bottom: 38%;
}

#card .article_wrapper {
    padding-top: 2rem;

}

#card .article.article {
    padding: 0px 1rem 0px 4rem;

}

article.article h3 {
    font-size: 3.1rem;
    line-height: 1;
    font-weight: 600;
    display: block;

}

#card .article.banner_article p {
    font-size: 1.2rem;
    padding-right: 8rem;
    margin-bottom: 2rem;
}

#card .card_thumb_wrapper .card_thumb_shapes img {
    z-index: 1;

}

#card .card_thumb_wrapper .card_thumb_shapes img.dot-square {
    bottom: -3%;
    left: -5%;
    animation: 3s linear 0s infinite alternate none running upDown;

}

@keyframes upDown {
    100% {
        bottom: 14%;
    }
}

#card .card_thumb_wrapper .card_thumb_shapes img.fill_circle {
    top: -8%;
    right: 12%;
}

#card .card_thumb_wrapper img.stroke_circle {
    right: 0px;
    bottom: -15%;
}

#card .card_thumb_wrapper .card_big {
    margin-right: 1.8rem;
    position: relative;
    z-index: 1;
}

#card .card_thumb_wrapper .card_big figure {
    border-radius: 2.5rem 4px 2.5rem 4px;
    overflow: hidden;
}

#card .card_thumb_wrapper.small-img {
    width: 72%;

}

#card .card_thumb_wrapper .small-img figure {
    margin-top: 4rem;
    overflow: hidden;
    border-radius: 4px 2.5rem 4px 2.5rem;
    position: relative;
    z-index: 1;
}

#card .card_thumb_wrapper .animation {
    right: -58%;
    bottom: 13%;
    padding: 0.8rem 1.5rem;
    border-radius: 0.3rem;
    background: var(--color-light, #fff);
    box-shadow: var(--shadow);
    animation: 2.5s ease 0s infinite normal none running bounce;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    40% {
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }
}

#card .card_thumb_wrapper .animation h4 {
    font-size: 1.05rem;
    font-weight: 600;
}

#card .card_thumb_wrapper .animation span {
    font-size: 15px;
}

#course {
    background: var(--color-light, #fff);
    margin-top: 120px;
}

#course .row.mb {
    margin-bottom: 3rem;
}

#course .container .col-lg-4 {
    margin: 0.88rem 0px;
}

#course article.article h3 {
    font-size: 2.5rem;

}

#course .article.article h3 span .yellowbg {
    bottom: -6px;
    left: -10px;
    z-index: 2;
    animation: 3s linear 0s infinite normal none running yellowBg;
}

@keyframes yellowBg {
    0% {
        width: 0px;
    }

    15% {
        width: 100%;
    }

    85% {
        opacity: 1;
    }

    90% {
        width: 100%;
        opacity: 0;
    }

    100% {
        width: 0px;
        opacity: 0;
    }
}

#course a.view_all {
    background: var(--color-light, #fff);
    width: max-content;
    margin-right: 1.4rem;
    color: var(--bs-gray-600);
}

#course a.view_all i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#course a.view_all i:first-child {
    right: 5px;
    z-index: -1;
    opacity: 0;
}

#course a.view_all i:last-child {
    right: -10px;
}

#course a.view_all:hover {
    color: var(--primary-color);
}

#course a.view_all:hover i:first-child {
    right: -14px;
    opacity: 1;
}

#course a.view_all:hover i:last-child {
    right: -1.5rem;
    opacity: 0;
}





#course .course_category {
    border: 2px solid rgb(243, 243, 243);
    border-radius: 0.4rem;
    transition: all 0.3s ease-in-out 0s;
}

#course .course_category:hover {
    background: var(--primary-color);
    box-shadow: var(--shadow);
    border-color: var(--primary-color);
}

#course .course_category a {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}

#course .course_category .category_icon {
    width: 40px;
    fill: rgb(43, 78, 255);
}

#course .course_category:hover .category_content * {
    color: var(--color-light, #fff);
}

#course .course_category:hover .category_icon {
    fill: var(--color-light, #fff);
}

#course .course_category .category_content h4 {
    margin: 0px;
    font-size: 1.2rem;
    color: var(--color);
    font-weight: 600;
}

#course .course_category .category_content {
    padding-left: 2rem;
    padding-top: 1rem;
}

#course .course_category .category_content p {
    color: #555555;
}

#course .course_banner_item {
    margin-top: 6rem;
    padding: 30px 30px 20px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 0.3rem;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#course .course_banner_content {
    width: 50%;
}

#course .course_banner_content span {
    padding: 1px 15px;
    color: var(--color-light, #fff);
    font-size: 13px;
    border-radius: 23px;
    margin-bottom: 1rem;
    background: var(--secondary-color, #fc4389);
}

#course .course_banner_content h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

#course .course_banner_content a.try_free {
    padding: 0.2rem 0.5rem;
    margin-top: 2rem;
}

#course .course_banner_item.one {
    background-image: url("../images/backroundimg1.jpg");
    margin-right: 0.5rem;
  }
  
  #course .course_banner_item.two {
    background-image: url("../images/backroundimg2.jpg");
    margin-left: 0.5rem;
  }
  
  #course .course_banner_item.two {
    padding: 2px 30px 0px;
  }
  
  #course .course_banner_item.two .course_banner_thumb {
    width: 300px;
  }
  